@import "tailwindcss";

@theme {
  --color-primary: #f472b6;
  --color-secondary: #000000;
  --color-background: #ffffff;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--color-background);
  color: var(--color-secondary);
}
